table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.location-table {
    padding-left: 20%;
    padding-right: 20%;
}

h1 {
    padding-top: 5%;
}